/* Media Queries */

@media screen and (min-width:1320px) {
	#container {
		max-width: 1250px;
		padding: 25px;
	}

	#bottom {
		max-width: 1280px;
	}

	#content-full {
		max-width: 1250px;
		padding: 0 25px;
	}

	.sideboxes, .sideboxes-left {
  		max-width: 387px;
  		padding: 0 25px 25px;
	}

	#subha-two-column .top-first ul li, 
	#subha-two-column .top-rest ul li {
  		width: 377px;
	}


	#top-slider {
		padding: 25px;
		width: 964px;
	}

	
	.slider-cover .caroufredsel_wrapper {
		height: 387px !important;
	}


	.slider-widget {
		width: 235px;
	}

	.cat-footer {
		width:1300px;
	}
	

	.slider-cover {
		width: 689px;
	}

	.slider-cover li {
		width: 689px;
	}


	.slider-cover ul {
		height: 350px;
	}

	.show-latest-posts li {
		width: 222px;
	}

	.break-new {
		height: 345px;
	}

	#wrapper {
		max-width:1300px;
		padding: 0 0 25px;
	}

	#content-full .post p {
		max-width: 86%;
		margin-right: auto;
		margin-left: auto;
	}

	.hptwo-section {
		width: 393px;
	}

	li.mm-list ul.sub-menu {
		width: 1250px;
	}

	ul.mega-sub-menu-five li {
		width: 829px;
	}

	ul.mega-sub-menu-five li:first-child {
		width:450px;
	}

	ul.mega-sub-menu-five li ol.mm-five li {
		width: 235px;
	}

	li.mm-list ul.sub-menu li {
		width: 300px;
	}

	.home #wrapper {
		padding-top: 25px;
	}

	#bcs {
		padding-left: 25px;
	}


	ul.mega-sub-menu-two li {
		width: 18%;
	}

	ul.mega-sub-menu-two,
	ul.mega-sub-menu-four,
	ul.mega-sub-menu-five {
		width: 1300px;
	}
	
	ul.mega-sub-menu-two li {
		width: 239px;
	}

	#subha-two-column .lay-two img {
		width: 391px;
	}

	.hp-section .subha-rest {
        width: 365px;
	}

	#footer {
		max-width:1250px;
		padding: 5px 25px;
	}

	#top {
		max-width:1300px;
		padding: 25px 0 0;
	}

	#wrapper-top {
		max-width:1300px;
	}

	#content {
		max-width: 630px;
	}
	
	#subha-two-column {
		width: 812px;
		padding: 0 25px;
		margin-bottom: 25px;
		padding-bottom: 25px;
	}
	
	#subha-two-column .lay-one {
		width: 307px;
	}

	#subha-two-column .lay-one-rest {
		width: 236px;
	}

	.tab-first {
		width: 390px;
	}
	
	.tab-rest {
		width: 375px;
	}

	.three-column ul li {
		width: 257px;
	}

	.pic-news-first {
		width: 572px;
	}

	.sideboxes,
	.sideboxes-left {
		margin-bottom: 25px;
	}

	.cat-post ul li {
		width: 44.5%;
	}
	
	.two-cat-cover ul li {
		width: 48%;
		margin-right: 25px;
	}

	.lay-one,
	.lay-one-rest,
	.lay-two img,
	.lay-two-inner {
		width: 302px;
	}
	
	.lay-two img {
		margin-right: 25px;
	}
	
	.top-first ul li,
	.top-rest ul li {
		width: 302px;
		margin-right: 26px;
	}
	
	#subha-two-column .list-inner .top-rest ul li {
		width: 366px;
	}

	#subha-two-column .top-first img {
		height: 200px;
	}
	
	.list-inner .top-rest ul li {
		width: 287px;
	}

	.review-home-block {
		width: 345px;
		margin-right: 25px;
	}

	.blog-two ul li {
		margin-bottom: 15px;
	}

	.related-post li {
		width: 174px;
		margin-right: 24px;
	}

	#subha-two-column .related-post li {
		width: 234px;
	}	

	#subha-two-column .related-post li img {
		height: 175px;
	}

	input[type="text"], input[type="password"] {
		width: 276px;
	}

	.cat-img-one {
		width: 250px;
	}

	#subha-two-column .cat-img-one,
	#subha-two-column .cat-img-four {
		width: 375px;
	}

	.cat-img-two {
		width: 377px;
	}

	#subha-two-column .cat-img-two {
		width: 464px;
	}

	.cat-img-three {
		width: 350px;
	}

	#subha-two-column .cat-img-three {
		width: 464px;
	}

	.cat-img-four {
		width: 277px;
	}

	.footwid input[type="text"], .footwid input[type="password"] {
		max-width: 300px;
}
}

@media screen and (min-width:1162px) and (max-width:1319px){
	
	#footer {
		max-width:1098px;
		padding: 20px;
	}

	#bottom {
		max-width:1118px;
	}

	#wrapper,
	#wrapper-top,
	#top {
		max-width:1138px;
	}

	.show-latest-posts li {
		width: 192px;
	}

	.break-new {
		height: 346px;	
	}

	.hptwo-section {
		width: 353px;
	}
	
	.fea-block .tabbed img.avatar {
		width: 60px;
		height: 60px;
	}
	
	.fea-block .tab-desc {
		font-size: 12px;
	}

	ul.mega-sub-menu-two,
	ul.mega-sub-menu-four,
	ul.mega-sub-menu-five {
		width:1138px;
	}
	
	ul.mega-sub-menu-two li {
		width: 18.1%;
	}

	li.mm-list ul.sub-menu li {
		width: 272px;
	}
	
	ul.mega-sub-menu-five li:first-child {
		width: 395px;
	}	
	
	ul.mega-sub-menu-five li {
		width: 722px;
	}

	ul.mega-sub-menu-five li ol.mm-five li {
		width: 200px;
	}


	.mm-four-two {
		width: 897px;
	}

	ul.mega-sub-menu-four .mm-four-two li:first-child {
		width: 275px;
	}

	ul.mega-sub-menu-four .mm-four-two li:first-child {
    		padding: 0 20px 15px 15px;
	}

	ul.mega-sub-menu-four li {
		width: 260px;
	}

	li.mm-list ul.sub-menu {
		width: 1088px;
	}

	.breaking-new {
		width: 210px;
	}

	.slider-cover {
		width: 608px;
	}

	.slider-cover .caroufredsel_wrapper {
		height: 387px !important;
	}

	#content {
		max-width: 552px;
	}
	
	#subha-two-column {
		width: 731px;
	}
	
	#subha-two-column .lay-one-rest {
		width: 220px;
	}

	.three-column ul li {
		width: 230px;
	}

	.tab-first {
		width: 325px;
	}	

	.tab-rest {
		width: 359px;
	}

	.pic-news-first {
    		width: 491px;
	}

	.cat-footer {
		width: 1138px;
		padding: 0;
	}

	.tab-desc {
		width: 170px;
	}

	.cat-footer .tab-first {
		width: 258px;
	}

	.cat-footer .tab-rest {
		width: 300px;
	}	

	.top-first ul li {
		width: 266px;
	}
	
	#subha-two-column .top-first ul li,
	#subha-two-column .top-rest ul li {
		width: 328px;
	}


	#subha-two-column .list-inner .top-rest ul li {
		width: 354px;
	}

	#subha-two-column .lay-one {
		width: 259px;
	}

	.lay-one img {
		height: auto;
	}


	.lay-one,
	.lay-one-rest,
	.lay-two img,
	.lay-two-inner {
		width: 258px;
	}

	.top-rest ul li {
		width: 266px;
	}

	.list-inner .top-rest ul li {
		width: 251px;
	}
	
	.two-cat-cover ul li {
		width: 48.6%;
	}

	.review-home-block {
		width: 277px;
	}

	.related-post li {
		width: 154px;
		margin-right: 15px;
	}

	#subha-two-column .related-post li {
		width: 213px;
	}	

	#subha-two-column .related-post li img {
		height: 175px;
	}

	.sideboxes,
	.sideboxes-left {
		max-width: 316px;
	}
	
	input[type="text"], input[type="password"] {
		width: 266px;
	}

	.footwid input[type="text"], .footwid input[type="password"] {
		max-width: 300px;
}
}

@media screen and (max-width:1161px){

#top .logo {
    text-align: center !important;
    float: none;
    overflow: hidden;
    margin: 0 auto 25px
}

.logo h1 {
 float: none;
 border-right: none;
}

h4.descript {
    width: auto; 
    float: none; 
    margin-top: 0;
}

#top .ads-container {
    float: none;
    text-align: center !important;
}

.last-display {
	display: none !important;
}

.show-latest-posts ul li:last-child {
	display: none;
}

.show-latest-posts ul li:nth-child(4n) {
	margin-right: 0;
}

.tab-desc {
	width: 240px;
}

.cat-footer .tab-rest {
	width: 375px;
	padding-bottom: 25px;
}

}


@media screen and (min-width:1041px) and (max-width:1161px){

#top-slider {
	width: 715px;
}

.breaking-new {
	display: none;
}

ul.mega-sub-menu-five li ol.mm-five li {
    width: 176px;
}

ul.mega-sub-menu-four li:first-child{
    display: none;
}

ul.mega-sub-menu-four {
	padding-left: 20px;
	width: 990px;
}

.mm-four-two {
	border-left: none;
}

.slider-cover {
	width: 715px;
}

.slider-cover-full li img {
	width: 715px;
}

.slider-cover li img {
	height: 402px;
}


.slider-cover .caroufredsel_wrapper {
	height: 402px !important;
}

.show-latest-posts li:nth-child(3n) {
	margin-right: 0;
}

.show-latest-posts li {
	width: 221px;
}

.three-column ul li {
	width: 198px;
}

#subha-two-column .lay-one {
	width: 259px;
}

.hp-section .tab-first {
	width: 322px;
}

.sideboxes,
.sideboxes-left {
	width: 284px;
}

#subha-two-column .related-post li {
	width: 181px;
}	

#subha-two-column .related-post li img {
	height: 150px;
}

.pic-news-first {
	width: 395px;
}

.hptwo-section {
	width: 305px;
}

.hp-section .subha-first {
	width: 298px;
}

.hp-section .subha-rest {
	width: 280px;
}

#subha-two-column .lay-two img {
    width: 294px;
}

.cat-post ul li {
	width: 43.4%;
}

}


@media screen and (min-width:901px) and (max-width:1040px) {

#content,
.pagehead {
	width: 100%;
}

.banner-large {
	display: block;
	text-align: center;
	float: none;
}

.breaking-new {
	display: none;
}

#bottom,
#footer {
	padding: 15px;
	width: 815px;
}

#wrapper {
	width: 845px;
}

.hptwo-section {
	width: 335px;
}

.cat-footer {
	width: 845px;
}

.tab-desc {
	width: 175px;
}

.cat-footer .tab-rest {
	width: 275px;
}

#top-slider,
.slider-cover {
	width: 550px;
}

#wrapper-top {
	max-width: 845px;
}

.show-latest-posts li {
	width: 262px;
	margin-top: 25px;
}

.show-latest-posts li:last-child {
	display: block !important;
}

.show-latest-posts li:nth-child(2n) {
	margin-right: 0;
}

.latest-post-box .right-line {
	margin-bottom: 7px;
}

.show-latest-posts h3 {
    font-size: 15px;
}

.show-latest-posts img {
	height: auto;
}

#subha-two-column {
	width: 795px;
}

.slider-cover-full li img {
	width: 815px;
	height: 300px;
}

#subha-two-column .slider-cover li img {
	width: 815px;
}

.topmenu {
	padding: 0 15px;
	width: 815px;
}

#top,
ul.mega-sub-menu-two,
ul.mega-sub-menu-four,
ul.mega-sub-menu-five {
	width: 845px;
}

li.mm-list ul.sub-menu {
	width: 815px;
	padding: 15px;
}

li.mm-list ul.sub-menu li {
	width: 203px;
}

ul.mega-sub-menu-five li {
	width: 484px;
}

ul.mega-sub-menu-five li ol.mm-five li {
	width: 201px;
}

ul.mega-sub-menu-five li ol.mm-five li:nth-child(2n) {
	border-right: none !important;
	margin-right: 0;
	padding-right: 0 !important;
}

ul.mega-sub-menu-two li {
	width: 190px;
	border-right: none;
	border-left: 1px solid #3B3B3B;
}

ul.mega-sub-menu-two li:last-child,
ul.mega-sub-menu-five ol.mm-five li:last-child {
	display: none;
}

ul.mega-sub-menu-five ol.mm-five-sub li:last-child {
	display: block;
}

.sf-menu .edge ul {
	right: -300%;
}

ul.mega-sub-menu-four li:first-child {
	width: 150px;
}

.mm-four-two {
	width: 619px;
	padding-left: 20px;
}

ul.mega-sub-menu-four li {
	width: 289px;
}

ul.mega-sub-menu-four .mm-four-two li:first-child {
	display: none;
}

.break-new {
	width: 281px;
}

.hot-news .social-icons {
	width: 392px;
	overflow: hidden;
}

.slider-cover li img {
	height: 325px;
}

.slider-cover .caroufredsel_wrapper {
	height: 325px !important;
}

.top-first ul li {
	width: 240px;
}

#subha-two-column {
	padding-bottom: 0;
	margin-bottom: 0;
}

#subha-two-column .top-first ul li {
	width: 360px;
}

#subha-two-column .top-rest ul li {
	width: 360px;
	padding: 15px 0;
}

#subha-two-column .lay-two img {
	width: 360px;
	margin-right: 25px;
}

#subha-two-column .lay-two-inner {
    width: 47.8%;
}

#subha-two-column .list-inner .top-rest ul li {
	width: 385px;
}


#subha-two-column .top-first img {
	height: 200px;
}

#subha-two-column .lay-one {
	width: 295px;
}

#subha-two-column .lay-one-rest {
		width: 234px;
}

.three-column ul li {
	width: 251px;
}

.tab-first {
	width: 405px;
}

.tab-rest {
	width: 343px;
}
	
.top-rest ul li {
		width: 242px;
}

.list-inner .top-rest ul li {
		width: 227px;
}

.top-item img {
	height: 30%;
}

.two-cat-cover ul li {
	width: 48.5%;
}

.pic-news-first {
	width: 555px;
}

.hptwo-section {
	width: 385px;
}

.hp-section .subha-first {
	width: 373px;
}

.related-post li {
	width: 137px;
	margin-right: 14px;
}

#subha-two-column .related-post li {
	width: 235px;
}	


.review-home-block {
		width: 225px;
}

.sideboxes, 
.sideboxes-left {
	max-width: 812px;
	margin-top: 0;
	margin-left: 5px;
	margin-right: 5px;
	border: none;
}

.sideboxes .widget input[type="text"], input[type="password"],
.sideboxes-left .widget input[type="text"], input[type="password"] {
	width: 365px;
}

.sideboxes>ul>li, .sideboxes-left>ul>li {
	width: 42.5%;
	margin-right: 3%;
	float: left;
}

.sideboxes ul li:nth-child(even),
.sideboxes-left ul li:nth-child(even) {
	margin-right :0;
}

#bottom input[type="text"], 
#bottom input[type="password"] {
	width: 230px;
	padding: 7px 5px;
	border: 1px solid #DADADA;
	border-radius: 4px;
}

}


@media screen and (max-width:1040px) {

#top .logo {
	text-align: center !important;
	float: none;
}

#top .logo img {
	margin-right: 0;
	float: none;
}

#top .ads-container,
.banner-large,
.banner {
	float: none;
}

}


@media screen and (max-width:900px) {

.menuopenicon {
	display: block;
}

.mainmenu .sf-menu li {
	float: none;
	display: block;
	text-align: center;
}

.mainmenu {
	display: none;
	height: auto;
	overflow: hidden;
}

}


@media screen and (max-width:1041px) {
	
.logo {
	float: none !important;
}
.ads-container {
	text-align: center !important;
	margin-top: 20px;	
}

#top-slider {
	border-top: 1px solid #F0F0F0;
}

.hot-news .social-icons {
	margin: 7px auto;
	padding-bottom: 0;
	width: 100%;
	overflow: hidden;
}

}


@media screen and (max-width:900px) {

nav {
    background: #2B2B2B;
 }

.mainmenu {
	padding-left: 10px;
}

[title=home] {
	margin-top: 0 !important;
	padding: 0 !important;
 	height: auto; 
 	width: auto; 
 	line-height: 1.3; 
 	background: none !important; 
 	text-indent: 0; 
	background-color: #2B2B2B !important;
	border-right: none !important;
}

li.current-menu-item {
	background: #2B2B2B;
}


.mainmenu .sf-menu ul li {
	float: none;
}

.mainmenu .sf-menu li {
	position: relative;
}

.mainmenu .sf-menu ul {
	position: relative !important;
}

.mainmenu .sf-menu li:last-child {
	border-bottom: none;
}

.sf-menu li {
	float: none;
}

.mainmenu ul.sub-menu,
span.sf-sub-indicator {
	display: none;
}

#primary-menu [title=home] {
	background-color: #3B3B3B !important;
}

.mainmenu ul.sf-menu li li:hover ul.sub-menu, 
.mainmenu ul.sf-menu li li.sfHover ul.sub-menu {
	left: 20px;
	top: 1.5em;
}

ul.sf-menu li:hover,
ul.sf-menu li li:hover,
ul.sf-menu li li li:hover {
	background: transparent;
}

.mainmenu .sf-menu ul {
	width: 100%;
}

.sf-menu li:hover ul.sub-menu, 
.sf-menu li.sfHover ul.sub-menu {
	top: 1.1em;
}

.mainmenu ul.mega-sub-menu-one li,
.mainmenu ul.mega-sub-menu-two li,
.mainmenu ul.mega-sub-menu-three li,
.mainmenu ul.mega-sub-menu-four li,
.mainmenu ul.mega-sub-menu-five li {
	float: left;
}


.mainmenu ul.mega-sub-menu-one,
.mainmenu ul.mega-sub-menu-two,
.mainmenu ul.mega-sub-menu-three,
.mainmenu ul.mega-sub-menu-four,
.mainmenu ul.mega-sub-menu-five {
	padding-bottom: 20px;
	overflow: hidden;
	border-bottom: 1px solid #3B3B3B;
}

ul.mega-sub-menu-one {
	width: 710px;
}

ul.mega-sub-menu-one li:first-child {
	width: 400px;
}

ul.mega-sub-menu-one li:first-child img {
	width: 360px;
}

ul.mega-sub-menu-two li {
	width: 30.3%;
}

ul.mega-sub-menu-two li:nth-child(2n+4),
ul.mega-sub-menu-two li:last-child {
	display: none;
}

.mainmenu ul.mega-sub-menu-three {
	width: 710px;
}

ul.mega-sub-menu-three li:first-child {
	width: 710px;
}

ul.mega-sub-menu-three li {
	width: 355px;
}

ul.mega-sub-menu-four>li:first-child {
	display: none;
}

ul.mega-sub-menu-four .mm-four-two>li:first-child {
	display: none;
}

.mm-four-two {
	width: 710px;
	border-left: none;
	padding-left: 10px;
}

ul.mega-sub-menu-five li:first-child img {
	height: 180px;
}

ul.mega-sub-menu-five li:first-child {
	width: 268px;
}

ul.mega-sub-menu-five li {
	width: 411px;
}

ol.mm-five {
	padding-right: 0;
}

ul.mega-sub-menu-five li ol.mm-five li {
	margin-right: 0;
}

ul.mega-sub-menu-five ol.mm-five li:nth-child(2n) {
	border-right: none;
	padding-right: 0 !important;
}

ol.mm-five li:last-child {
	display: none;
}

.topmenu .sf-menu li {
	float: left;
}

.mainmenu .sf-menu li a {
	border: none;
}


li.current-menu-item {
	 background-color: transparent; 
}


.subha-date {
	display: none;
}

#bottom ul li {
	width: 48.5% ;
	margin-right: 3%;
}

#bottom ul li:nth-child(2n) {
	margin-right: 0;
}

}

@media screen and (max-width:900px) {

ul.mega-sub-menu-one,
ul.mega-sub-menu-two,
ul.mega-sub-menu-three,
ul.mega-sub-menu-four,
ul.mega-sub-menu-five,
li.mm-list ul.sub-menu {
	display: none !important ;
}

.mainmenu .sf-menu li ul li {
	background: #2B2B2B;
}

}
 
@media screen and (max-width:650px) {

.myflex h3 {
	font-size: 12px;
}

}

@media screen and (max-width:770px) {

.sideboxes,
.sideboxes-left {
	margin-top: 30px;
}

}




@media screen and (min-width:600px) and (max-width:900px) {

#content,
.pagehead {
	max-width: 550px;
	width: 100%;
}

#wrapper,
#wrapper-top,
.cat-footer {
	max-width: 580px;
	padding: 0;
}

#bottom,
#footer {
	max-width: 530px;
	padding: 15px 25px;
}

.breaking-new {
	display: none;
}

.slider-cover li img {
		height: auto;
}

#top {
	max-width: 580px;
}

.break-new {
	width: 433px;
}

.hot-news .social-icons {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}

#top-slider {
	border-top: 1px solid #F0F0F0;
	width: 530px;
}

#wrapper-top,
.cat-footer {
	width: 580px;
}

.cat-footer .tab-first {
	width: 265px;
	margin-left: 25px;
}

.show-latest-posts li {
	width: 252px;
	margin-bottom:25px;
	margin-right: 25px;
}

.show-latest-posts li:last-child {
	display: block !important;
}

.show-latest-posts li:nth-child(2n),
.show-latest-posts li:nth-child(2n+2){
	margin-right: 0;
}

.show-latest-posts {
	padding-bottom: 5px;
}

.slider-widget {
	width: 530px;
	padding: 25px;
	margin-left: 0;
	margin-bottom: 25px;
	margin-top: -30px;
	height: auto;
	border-left: none;
	border-top: 1px solid #F0F0F0;
}

.call-action button {
    	position: relative;
}

#subha-two-column {
	max-width: 530px;
	padding-bottom: 0;
	margin-bottom: 0;
}

.tab-desc {
	display: none;
}

.cat-footer .tab-rest {
	width: 250px;
}

.topmenu {
	width: 580px;
	height: 26px;
	margin: 0 auto 15px;
}

.slider-cover,
.two-images {
	width: 530px;
}

.slider-cover .caroufredsel_wrapper {
	height: 295px !important;
}

.hptwo-section {
	width: 252px;
}

#subha-two-column .slider-cover li img {
	width: 550px;
}

.top-first ul li,
#subha-two-column .top-first ul li {
	width: 227px;
}


#subha-two-column .top-rest ul li {
	width: 227px;
	padding: 15px 0;
}


#subha-two-column .list-inner .top-rest ul li {
	width: 252px;
}

#subha-two-column .lay-one {
	width: 294px;
	padding-right: 0;
	border-right: none;
}

#subha-two-column .lay-one-rest {
	width: 220px;
}

#subha-two-column .lay-one-rest.last-lay {
	display: none;
}

.three-column ul li {
	width: 255px;
}

.three-column ul li:nth-child(2n) {
	margin-right: 0;
}

.three-column ul li:last-child {
	display: none;
}

.tab-first {
	width: 260px;
}

.tab-rest {
	width: 223px;
}

.hp-section .subha-rest {
	width: 213px;
}

.hp-section .subha-rest ul li:last-child {
	display: none;
}

.lay-one,
.lay-one-rest,
.lay-two img,
.lay-two-inner {
	width: 257px;
}

#subha-two-column .lay-two img {
	width: 227px;
}
	
.top-rest ul li {
		width: 227px;
}

.list-inner .top-rest ul li {
		width: 252px;
}

.two-cat-cover ul li {
	width: 48.6%;
}

.review-home-block {
		width: 265px;
}

.pic-news-first {
	width: 530px;
}

.pic-inner {
	margin-top: 20px;
	width: 540px;
}

.pic-inner .caroufredsel_wrapper, #thumbs {
	height: 180px !important;
	width: 540px !important;
}


#thumbs a {
	width: 133px;
}

#thumbs img {
	width: 133px;
}

.related-post li {
	width: 146px;
	margin-right: 15px;
}

.list_carousel li .sideimg img {
	height: 275px;
}

.sideboxes,
.sideboxes-left {
	max-width: 530px;
	margin: 20px 5px 25px;
	border: none;
	border-top: 1px solid #F0F0F0;
}

.sideboxes ul li,
.sideboxes-left ul li {
	margin: 0 auto 15px;
}

.top-tabs ul li {
	width: auto;
	float: left;
	margin: 0 auto;
	min-width: 15px;
}

input[type="text"],
input[type="password"] {
	max-width: 550px;
	width: 97.5%;
}

.tabbed ul li {
	margin-top: 0;
}

.widget-box ul li {
	margin: 0 auto 0;
}

.cat-post ul li {
	width: 41.4%;
	margin-right: 5%;
}

#bottom ul li {
	width: 100%;
}

h3.widhead{
	margin-top: 20px;
}

.cat-img-one {
	width: 235px;
}

.cat-img-four {
	width: 262px;
}



}



@media screen and (max-width:599px) {

#content,
.pagehead {
	width: 290px;
}

img {
	height: auto;
}

#wrapper,
#wrapper-top,
.cat-footer,
#bottom,
#footer {
	width: 350px;
	padding: 0;
}

.tab-desc,
.breaking-new {
	display: none;
}

#top-slider {
	width: 300px;
}

#top-slider .cat-first {
	display: none;
}

.slider-cover li img {
	height: auto;
}


.slider-caro-head h3 {
	line-height: 1;
}

.show-latest-posts li {
	width: 149px;
	margin-right:2px;
	margin-bottom: 20px;
}

.show-latest-posts h3 {
    font-size: 13px;
}

.show-latest-posts li:last-child {
	display: block !important;
}

.show-latest-posts li:nth-child(2n),
.show-latest-posts li:nth-child(2n+2){
	margin-right: 0;
}

.slider-widget {
	width: 300px;
	margin-left: 0;
	border-left: none;
	margin-bottom: 25px;
	margin-top: -25px;
}

.call-action button {
	position: relative;
	margin-left: 10px;
}

.cat-footer .tabbed .tab-rest ul li {
	margin-left: 0;
}

.cat-footer .tabs-cover,
.cat-footer .tab-rest {
	width: 300px;
	margin-left: 25px;
}

.cat-footer.fea-block .tabs-cover {
	margin-left: 0;
	padding: 25px;
}

.cat-footer.fea-block .tab-rest {
    border-top: 1px solid #525252;
}

.cat-footer .tab-rest,
.tab-rest {
	border-top: 1px solid #DBDBDB;
	border-left: none;
	padding-top: 15px;
	padding-bottom: 25px;
	margin-left: 0;
}


.tabbed .tab-rest ul li {
	padding-left: 0;
}

.slider-cover-full li img {
		width: 320px;
		height: 220px;
}

#top {
	width: 350px;
}

.topmenu,
.mainmenu {
	display: none;
}
  
.mainmenu 
	{
	overflow: hidden;
	color: #595959;
	height: auto;
	position:relative;
}

.hot-news h4 {
	display: none;
}

.break-new {
	width: 300px;
}

.hot-news .social-icons {
	margin: 20px auto 5px;
	padding: 0;
}

.hot-news .social-icons ul li {
	margin-bottom: 5px;
}

.latest-post-box .right-line {
	width: 85% !important;
}

.cat-footer .right-line {
	width: 85%;
}

.show-latest-posts {
	padding-bottom: 5px;
}

#subha-two-column .slider-cover li img {
	width: 320px;
}

.slider-cover {
	width: 300px;
}


.slider-cover .next,
.slider-cover .prev {
	width: 18px;
	height: 18px;
}

.slider-cover .caroufredsel_wrapper {
	height: 167px !important;
}

#top-slider .slider-caro-head {
	width: 85%;
	height: auto;
	padding: 5px;
	bottom: 10px !important;
}

.slider-caro-head .cat-first {
	 display: none;
}

.slider-cover .next,
.slider-cover .prev {
	z-index: 100;
}

.slider-caro-head h3 a {
	font-size: 10px !important;
}

.slider-caro-head h3 a:hover {
	color: #000000;
}

.slider-caro-head span,
.slider-caro-head p {
	display: none;
}

.social-path {
	padding-bottom: 0;
	padding-top: 8px;
}

.social-path .social-icons li {
	display: inline-block;
	margin-bottom: 8px;
}
	

.ei-title h2 {
	position: absolute;
	bottom: 15px;
	left: 15px;
	width: 75%;
}

.ei-title h3 {
	display: none;
}

#subha-two-column {
	border-right: none;
	max-width: 300px;
	padding-bottom: 0;
	width: 100%;
}

.lay-two-inner h3 {
	margin-top: 10px;
}

.blog-two ul li,
#subha-two-column .lay-two img,
#subha-two-column .lay-one-rest {
	width: 100%;
	margin-right: 0;
}

#subha-two-column .lay-two-inner {
	width: 280px;
}


.three-column ul li,
#subha-two-column .lay-one,
.tab-first {
	width: 300px;
}

.tab-first {
	margin-bottom: 20px;
}

.three-column ul li {
	margin-bottom: 20px;
}


.tab-rest {
	width: 268px;
}

.pic-news-first {
	width: 300px;
}

.hp-section img {
	max-height: 185px !important;
}

.hp-section #first-news-pic img {
	max-height: inherit !important;
}


#subha-two-column .subha-lay-two {
	width: 310px;
	margin-right: 0;
}

#subha-two-column .subha-rest {
	width: 268px;
	margin-top: 20px;
}

.pic-news-first,
.pic-news-first .caroufredsel_wrapper, #first-news-pic, #first-news-pic section {
	height: 240px !important;
}

.pic-inner .caroufredsel_wrapper {
	width: 300px !important;
}

#first-news-pic .slider-caro-head {
    width: 75%;
}

#thumbs {
	width: 300px !important;
}

#thumbs img,
#thumbs a {
	width: 150px !important;
}

.review-home-block {
	width: 320px;
	margin-right: 0;
}

.review-home-box {
	width: 320px;
	margin-top: 10px;
}

.rev-home-tot {
	margin-top: 10px;
}

.related-post li {
	width: 290px;
	margin-top: 15px;
}

.rel-time { 
	display: none;
}


#content-full {
	width: auto;
}

.sideboxes,
.sideboxes-left {
	max-width: 300px;
	margin: 0 0 0 5px;
	border: none;
	padding-bottom: 0;
}

#content-404 {
	padding: 0 25px 25px;
	border-top: 1px solid #DBDBDB;
	display: block;
	width: 300px;
}

input[type="text"],
input[type="password"] {
	max-width: 320px;
	width: 96%;
}

.sidebar-center .widget input[type="text"], input[type="password"] {
width: 288px;
}

.top-rest ul li,
.list-inner .top-rest ul li {
	width: 300px;
	padding-bottom: 10px;
}

.three-cat-cover ul li,
.two-cat-cover ul li {
	width: 100%;
}

.lay-one,
.lay-one-rest {
	width: 100%;
	margin-right: 0;
}

.lay-two img {
	width: 100%;
	margin-right: 0;
}

.lay-two-inner {
	width: 100%;
}

.three-cat-bot-item {
	margin-top: 0;
}

.top-first {
padding-bottom: 0;
}

.top-first .rmore {
	margin-bottom: 10px;
}

.top-first ul li {
	width: 100%;
}

.cat-post ul li {
	width: 268px;
	margin-right: 0;
}

.review-two-box .reviews-summary p {
	width: 90%;
}

.review-two-box .criti {
	padding: 0;
	width: 100%;
}


#flexnav,
.vidplay,
#catfour-flexnav,
#catfour-slider .myflex p {
	display: none;
}

#catfour-slider .myflex {
	top: 70px;
}

#subha-two-column .review-home-block {
	width: 100%;
	margin-right: 0;
}

#subha-two-column .review-home-box {
	width: 100%;
	margin-right: 0;
}

.hptwo-section {
	width: 300px;
}

.lay-one-rest ul li {
	padding-right: 0;
}

.lay-one {
	padding: 20px 0;
	border: none;
	margin-bottom: 20px;
	margin-top: 20px;
	border-top: 1px solid #DBDBDB;
	border-bottom: 1px solid #DBDBDB;
}

.last-lay {
	padding-bottom: 20px;
}

.last-lay li {
	padding-left: 0;
}

.post .singletitle {
	width: 100%;
	float: none;
	margin-bottom: 10px;
}

.tabbed ul li {
	margin-bottom: 0 !important;
}

#subha-two-column .top-first ul li {
	width: 280px;
	padding-bottom: 15px;
}

#subha-two-column .top-rest ul li {
	width: 280px;
	padding: 15px 0;
}

#bottom ul li {
	width: 90%;
	padding: 15px;
}

h3.widhead {
	margin-top: 15px;
}

#footer {
	text-align: center;
}

.foottext,.social-icons {
	float: none;
}

.foottext {
	margin-bottom: 10px;
}

.social-icons {
	padding-left: 35px;
}

.social-connect {
	margin-top: -30px;
}

.post .social-connect li {
	margin-top: 15px;
	margin-bottom: 10px;
}

.post .singlemeta li:last-child {
	float: left;
}

.list_carousel li .sideimg img {
	height: 200px;
}

.first-news-pic {
	width: 100%;
}

.pic-inner {
	width: 100%;
	margin-top: 2px;
}

.search-head {
    background: transparent !important;

}

}

@media only screen and (min-width: 768px) {
  .subhtop {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .subhtop {
    height: 50px;
    width: 50px;
    right: 30px;
    bottom: 30px;
  }
}
@media only screen and (min-width: 1041px) {
	#bottom {
	 padding-right: 0;
	}
}



