.calificacion{
  font-size: 5rem !important;
  display: block  !important;;
  text-align: center  !important;;
}

.recomendacion{
  padding: 0 0.8rem 0.5rem 0;
  min-height: 15rem;
  margin-bottom: 1.8rem !important;
}

.red {
  color: red;
}

.orange{
  color:orange;
}

.green {
  color: green;
}

.bold{
  font-weight: bolder;
 }

.organizacion-name, .organizacion-calificacion,
.organizacion-body, .organizacion-file{
  padding: 0.5rem !important;
}

.organizacion-calificacion{
  padding: 0 0 0 1rem !important;
}

.organizacion-name{
  border-right: 1px solid darkgray;
}

#header .button-collapse-wrap {
  float: left;
  height: 56px;
  margin: -16px 0 -16px -10px;
  padding: 16px 0 16px 10px;
  overflow: hidden;
}

#mainLogo {
  opacity: 1;
  position: absolute;
  transition: opacity .2s;
}

#mainLogo-small {
  opacity: 0;
  float: left;
  position: absolute;
  margin-top: -2px;
  transition: opacity .2s;
}

#header .user-links .login-link {
  border-right: 1px solid rgba(0,0,0,0.2);
  margin-right: 6px;
  padding-right: 6px;
}
#header .user-links a, #header .user-links span {
  color: inherit;
}


@media only screen and (min-width: 993px){
  .row .col.l12, .row .l12.card-wrap {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
}

.rTable {
  display: table;
  width: 100%;
}
.rTableRow {
  display: table-row;
}
.rTableHeading {
  display: table-header-group;
  background-color: #ddd;
}
.rTableCell, .rTableHead {
  display: table-cell;
  padding: 3px 10px;
  border: 1px solid #999999;
}
.rTableHeading {
  display: table-header-group;
  background-color: #ddd;
  font-weight: bold;
}
.rTableFoot {
  display: table-footer-group;
  font-weight: bold;
  background-color: #ddd;
}
.rTableBody {
  display: table-row-group;
}
