.calificacion{
  font-size: 5rem !important;
  display: block  !important;;
  text-align: center  !important;;
}

.recomendacion{
  padding: 0 0.8rem 0.5rem 0;
  min-height: 15rem;
  margin-bottom: 1.8rem !important;
}

.red {
  color: red;
}

.orange{
  color:orange;
}

.green {
  color: green;
}
